*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Calibri";
}

hr {
    height: 2px;
}

/*Navigation Bar CSS*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 25, 151, 0.345);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-family: "Lucida Handwriting";
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: 00;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media (max-width: 1000px)
{
    .header {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(0, 25, 151, 0.345);
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .navbar a {
        margin: 15px 0;
    }

    .menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
    }
}

/* Hero Section CSS */

.main__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    justify-self: center;
    height: auto;
    background: rgba(0, 24, 146, 0.555);
    z-index: 1;
    width: auto;
    padding: 0 100px;
    padding-bottom: 250px;
    padding-top: 100px;
}

.main__content h1 {
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.main__content p {
    padding-top: 25px;
    line-height: 40px;
    font-size: 23px;
    font-weight: 1;
    color: #fff;
}

.iconsM {
    text-align: left;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 20px;

    .fa-brands.fa-github.fa-3x {
        color: black;
        padding-right: 10px;
    }

    .fa-brands.fa-linkedin.fa-3x {
        color: rgb(45, 45, 151);
        padding-right: 10px;
    }

    .fa-solid.fa-envelope.fa-3x {
        color: rgb(203, 51, 51);
        padding-right: 10px;
    }

    .fa-brands.fa-youtube.fa-3x {
        color: #ff0000;
    }
}

.iconsM a {
    text-decoration: none;
}

.button__container {
    display: flex;
    flex-wrap: wrap;
}

.main__btn {
    font-size: 20px;
    background-color: #362d9d;
    padding: 14px 32px;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.35s;
    outline: 3px solid #ffffff;
    margin-right: 50px;
    text-decoration: none;
    position: static;
}

.main2__btn {
    font-size: 20px;
    background-color: #362d9d;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: 3px solid #ffffff;
    text-decoration: none;
}

.main__btn a {
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main2__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main2__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #1f00cc;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.main2__btn:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #1f00cc;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.main__btn:hover:after {
    width: 100%;
}

.main2__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 100%;
    border: 8px solid #ffffff;
    border-radius: 1000px;
}

@media screen and (max-width: 1150px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: auto;
        margin: auto;
        height: auto;
    }

    .main__content {
        text-align: left;
        margin-bottom: 30%;
        margin-top: 30%;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        padding-top: 25px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
    }
}

/* Personal Projects Section CSS */
/* container 1 */
.projects__container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    align-items: center;
    justify-self: center;
    height: auto;
    width: 100%;
    background: rgba(0, 24, 146, 0.555);
    z-index: 1;
    padding: 0 100px;
    padding-bottom: 100px;
}

.projects__container1 h1 {
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.projects__container1 h2 {
    font-size: 35px;
    font-weight: 100;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}

.projects__container1 p {
    margin-bottom: 1rem;
    color: white;
    margin-top: 2.5%;
    margin-left: 5%;
    line-height: 30px;
    font-size: 20px;
}

.projects__container1 ul {
    font-size: 18px;
    line-height: 20px;
    color: silver;
    margin-left: 7.5%;
}

.projects__container1 li {
    list-style: '•';
    padding-left: 10px;
}

.projects__btn {
    font-size: 20px;
    background-color: #362d9d;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 4%;
    cursor: pointer;
    position: right;
    transition: all 0.35s;
    outline: 3px solid #ffffff;
    margin-left: 5%;
    text-decoration: none;
}

.projects__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.projects__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    transition: all 0.35s;
    border-radius: 4px;
}

.projects__btn:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #1f00cc;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.projects__btn:hover:after {
    width: 100%;
}

.mp4__container1 {
    text-align: center;
}

video {
    border: 4px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 22, 133, 0);
    height: auto;
    width: 80%;
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 10%;
}

@media screen and (max-width: 1150px) {
    .projects__container1 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: auto;
        margin: auto;
        height: auto;
    }

    .projects__VR {
        text-align: left;
    }

    .projects__container1 h1 {
        font-size: 40px;
        padding-top: 30px;
    }
}

/*container 2 */
.projects__container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    justify-self: center;
    height: auto;
    width: 100%;
    background: rgba(0, 24, 146, 0.555);
    z-index: 1;
    padding: 0 100px;
    padding-bottom: 100px;
}

.projects__container2 h2 {
    font-size: 35px;
    font-weight: 100;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}

.projects__container2 p {
    margin-bottom: 1rem;
    color: white;
    margin-top: 2.5%;
    margin-left: 5%;
    line-height: 30px;
    font-size: 20px;
}

.projects__container2 ul {
    font-size: 18px;
    line-height: 20px;
    color: silver;
    margin-left: 7.5%;
}

.projects__container2 li {
    list-style: '•';
    padding-left: 10px;
}

.projects__btn {
    font-size: 20px;
    background-color: #362d9d;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 4%;
    cursor: pointer;
    position: right;
    transition: all 0.35s;
    outline: 3px solid #ffffff;
    margin-left: 5%;
}

.projects__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.projects__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    transition: all 0.35s;
    border-radius: 4px;
}

.projects__btn:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #1f00cc;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.projects__btn:hover:after {
    width: 100%;
}

.mp4__container2 {
    text-align: center;
}

video {
    border: 4px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 22, 133, 0);
    height: auto;
    width: 80%;
    margin-top: 5%;
    margin-left: 6%;
}
@media screen and (max-width: 1150px) {
    .projects__container2 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: auto;
        margin: auto;
        height: auto;
    }

    .projects__IR {
        text-align: left;
    }
}

/* container 3 */
.projects__container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    align-items: center;
    justify-self: center;
    height: auto;
    width: 100%;
    background: rgba(0, 24, 146, 0.555);
    z-index: 1;
    padding: 0 100px;
    padding-bottom: 100px;
}

.projects__container3 h2 {
    font-size: 35px;
    font-weight: 100;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}

.projects__container3 p {
    margin-bottom: 1rem;
    color: white;
    margin-top: 2.5%;
    margin-left: 5%;
    line-height: 30px;
    font-size: 20px;
}

.projects__container3 ul {
    font-size: 18px;
    line-height: 20px;
    color: silver;
    margin-left: 7.5%;
}

.projects__container3 li {
    list-style: '•';
    padding-left: 10px;
}

.projects__btn {
    font-size: 20px;
    background-color: #362d9d;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 4%;
    cursor: pointer;
    position: right;
    transition: all 0.35s;
    outline: 3px solid #ffffff;
    margin-left: 5%;
}

.projects__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.projects__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    transition: all 0.35s;
    border-radius: 4px;
}

.projects__btn:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #1f00cc;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.projects__btn:hover:after {
    width: 100%;
}

.mp4__container3 {
    text-align: center;
}

video {
    border: 4px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 22, 133, 0);
    height: auto;
    width: 80%;
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 10%;
}

@media screen and (max-width: 1150px) {
    .projects__container3 {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: auto;
        margin: auto;
        height: auto;
    }

    .projects__AG {
        text-align: left;
    }
}

/*Education CSS */

.education__content{
    display: grid;
    align-items: center;
    justify-self: center;
    height: auto;
    background: rgba(0, 24, 146, 0.555);
    z-index: 1;
    width: 100%;
    padding: 0 100px;
    padding-bottom: 150px;
}

.education__content h1 {
    font-size: 55px;
    font-weight: 500;
    color: white;
    padding-bottom: 50px;
}

.education__content h2 {
    padding-top: 5px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.education__content h4 {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.education__content p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 0;
    color: #ffffff;
}

.education__img {
    text-align: left;
}

#education__img {
    height: 20%;
    width: 20%;
    border: 4px solid #000000;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .education__content h1 {
        width: 300px;
    }
}

/* Skills Section CSS */

.skills__container {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(0, 25, 148, 0.566);
    justify-content: space-around;
    width: auto;
    height: auto;
    padding-left: 100px;
}

img {
    width: 100%;
    max-width: 700px;
    object-fit: cover;
    vertical-align: middle;
    border: 5px solid #000000;
    border-radius: 100px;
}

#tech__img {
    height: 70px;
    width: 70px;
    background-color: #717171;
    border: 3px solid #000000;
    border-radius: 30px;
}

.tech__img p {
    font-size: 15px;
    font-weight: 100;
    color: white;
}

.skills__content h1 {
    font-size: 55px;
    font-weight: 500;
    color: white;
    padding-top: 50px;
}

.skills__description p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 0;
    color: #fff;
    padding-bottom: 10px;
}

/* Contact Me CSS */
.contactme__container {
    display: grid;
    align-items: center;
    background: rgba(0, 25, 148, 0.566);
    justify-content: space-around;
    width: auto;
    height: auto;
}

.contactme__content h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
}

.contactme__content h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding-bottom: 15px;
}

.contactme__content p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-bottom: 15px;
}

.iconsC {
    text-align: center;
    padding-bottom: 20px;

    .fa-brands.fa-github.fa-3x {
        color: black;
        padding-right: 15px;
    }

    .fa-brands.fa-linkedin.fa-3x {
        color: rgb(45, 45, 151);
        padding-right: 15px;
    }

    .fa-solid.fa-envelope.fa-3x {
        color: rgb(203, 51, 51);
        padding-right: 15px;
    }

    .fa-brands.fa-youtube.fa-3x {
        color: #ff0000;
    }
}

.iconsC a {
    text-decoration: none;
}

